<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Config\Converter">
        <plugin name="web200_dynamic_widget_set_specific_element" type="Web200\DynamicWidget\Plugin\SetSpecificElement"/>
    </type>
</config>
